<div>
    <h2 id="page-heading">
        <span jhiTranslate="miaoshaByJhipsterApp.secActivity.home.title">Sec Activities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sec-activity" [routerLink]="['/sec-activity/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="miaoshaByJhipsterApp.secActivity.home.createLabel">
            Create a new Sec Activity
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="secActivities?.length === 0">
        <span jhiTranslate="miaoshaByJhipsterApp.secActivity.home.notFound">No secActivities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="secActivities && secActivities.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="miaoshaByJhipsterApp.secActivity.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="miaoshaByJhipsterApp.secActivity.goodId">Good Id</span></th>
                    <th scope="col" ><span jhiTranslate="miaoshaByJhipsterApp.secActivity.author">Author</span></th>
                    <th scope="col" ><span jhiTranslate="miaoshaByJhipsterApp.secActivity.start">Start</span></th>
                    <th scope="col" ><span jhiTranslate="miaoshaByJhipsterApp.secActivity.end">End</span></th>
                    <th scope="col" ><span jhiTranslate="miaoshaByJhipsterApp.secActivity.secPrice">Sec Price</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let secActivity of secActivities ;trackBy: trackId">
                    <td><a [routerLink]="['/sec-activity', secActivity.id, 'view']">{{ secActivity.id }}</a></td>
                    <td>{{ secActivity.name }}</td>
                    <td>{{ secActivity.goodId }}</td>
                    <td>{{ secActivity.author }}</td>
                    <td>{{ secActivity.start | date:'mediumDate' }}</td>
                    <td>{{ secActivity.end | date:'mediumDate' }}</td>
                    <td>{{ secActivity.secPrice }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sec-activity', secActivity.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sec-activity', secActivity.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(secActivity)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
